In [10]:
# create a list lenght of 20 with random numbers between 1 and 6 and create a dataframe named df_analysis with the list as a column named 'customer_id'
import random
import pandas as pd
import datetime as dt
list1 = [random.randint(1, 6) for i in range(20)]
# change the type of the column 'customer_id' to string
list1 = [str(i) for i in list1]
df_analysis = pd.DataFrame({'customer_id': list1})
# add a new column in df_analysis that contains random string values in each row and random strings can have two values: 'accepted' or 'rejected'
# values 'accepted' or 'rejected' are fully random and not based on any condition
df_analysis['status'] = ['accepted' if random.randint(0, 1) == 0 else 'rejected' for i in range(20)]
# add a new column in df_analysis that contains random string dates in each row and random dates are between 01/01/2023 and 03/31/2023
start_date = dt.date(2023, 1, 1)
end_date = dt.date(2023, 3, 31)
date_list = [start_date + dt.timedelta(days=random.randint(0, 89)) for i in range(20)]
df_analysis['date'] = date_list
# change the type of the column 'date' to datetime
df_analysis['date'] = pd.to_datetime(df_analysis['date'])
# add a new column named month_year in df_analysis that is based on the values of the column 'date' and contains the month and year in the format MM-YYYY
df_analysis['month_year'] = df_analysis['date'].dt.strftime('%Y-%m')
# sort the dataframe first by column 'date' in ascending order and then by column 'customer_id' in descending order
df_analysis = df_analysis.sort_values(by=['customer_id', 'date'], ascending=[True, False])
# reindex the dataframe
df_analysis = df_analysis.reset_index(drop=True)
print('first dataframe')
df_analysis

first dataframe

   customer_id    status       date month_year
0            1  accepted 2023-02-06    2023-02
1            1  rejected 2023-02-03    2023-02
2            1  rejected 2023-01-03    2023-01
3            2  rejected 2023-02-24    2023-02
4            2  rejected 2023-02-12    2023-02
5            2  accepted 2023-02-07    2023-02
6            2  rejected 2023-02-05    2023-02
7            3  rejected 2023-02-11    2023-02
8            3  rejected 2023-01-22    2023-01
9            3  accepted 2023-01-07    2023-01
10           4  accepted 2023-03-26    2023-03
11           4  rejected 2023-03-13    2023-03
12           4  accepted 2023-02-18    2023-02
13           4  accepted 2023-02-11    2023-02
14           4  accepted 2023-01-15    2023-01
15           5  rejected 2023-03-13    2023-03
16           5  rejected 2023-02-03    2023-02
17           6  accepted 2023-03-29    2023-03
18           6  rejected 2023-02-08    2023-02
19           6  rejected 2023-01-23    2023-01

In [11]:
# group the dataframe by column 'customer_id' and 'month_year' and leave only the first row of each group in the dataframe
df_analysis = df_analysis.groupby(['customer_id', 'month_year']).first().reset_index()
print('second dataframe')
# print the dataframe
df_analysis

second dataframe

   customer_id month_year    status       date
0            1    2023-01  rejected 2023-01-03
1            1    2023-02  accepted 2023-02-06
2            2    2023-02  rejected 2023-02-24
3            3    2023-01  rejected 2023-01-22
4            3    2023-02  rejected 2023-02-11
5            4    2023-01  accepted 2023-01-15
6            4    2023-02  accepted 2023-02-18
7            4    2023-03  accepted 2023-03-26
8            5    2023-02  rejected 2023-02-03
9            5    2023-03  rejected 2023-03-13
10           6    2023-01  rejected 2023-01-23
11           6    2023-02  rejected 2023-02-08
12           6    2023-03  accepted 2023-03-29